body {
    text-align: center;
}

#clue {
    font-family: monospace;
    font-size: 2em;
    padding: 1em;
}

#newgamearea{
    margin-top: 2em;
}

#winorlose{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#guesses{
    font-family: monospace;
    font-size: 1.5em;
}